.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4f1ff;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #8064a2;
    -fx-text-fill: white;
}

.avatar {
    -fx-font-size: 28px;
    -fx-padding: 0 6px 0 6px;
}
